.header-principal {
    width: 100%;
    height: 203;
    background: #ff4533;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.header-logo {
    width: 228px;
    height: 114px;
    margin-left: 60px;
    background: url('../../assets/3logoCervejaria-removebg-preview.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.menu {
    background: url('../../assets/menu.png') no-repeat;
    background-size: cover;
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-header {
    border: 0;
    background-color: #000;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
    margin:0 24px;
    font-family: 'Candal', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu .btn-header:first-child {
    margin-left: 71px;
}

.menu .btn-header:hover {
    text-decoration: none;
}